body{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;

}

#container h1{
    font-size: 20px;
}

#cabecera{
    text-align: center;
    font-size: 30px;
    color: aqua;
    font-weight: 900;
    background-color: black;
}
#cabecera span{
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
}